BizTalkServiceClient/Service References/BTSService/BizTalkWCF_AddSuffixService_RcvSuffixService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://BizTalkWCF.Schemas.BizTalkServiceRequest" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://BizTalkWCF.Schemas.BizTalkServiceRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="IsAddSuffix" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>